<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <div class="photo-and-name">
        <%= link_to user_path(@user) do %>
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, class: "avatar-large" %>
          <% else %>
            <%= image_tag "user.png", class: "avatar-large" %>
          <% end %>
        <% end %>
        <h1><%= @user.name %></h1>
      </div>
      <div class="profile-and-posts">
        <span><%= link_to "View my profile", user_path(@user) %></span>
        <span><%= pluralize(@user.microposts.count, "micropost") %></span>
      </div>
    </section>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
    <% if @users.any? %>
      <div class="user-avatars">
        <% @users.each do |user| %>
          <%= link_to user_path(user) do %>
            <% if user.photo.attached? %>
              <%= cl_image_tag user.photo.key, class: "avatar-large" %>
            <% else %>
              <%= image_tag "user.png", class: "avatar-large" %>
            <% end %>
          <% end %>
          <% end %>
      </div>
    <% end %>
  </aside>
  <div class="col-md-8">
    <h1><%= @title %></h1>
    <div class="search-user follow-search">
      <%= form_tag users_path, method: :get, class: "form-inline" do %>
        <%= text_field_tag :query, params[:query], placeholder: "Find a user"%>
        <%= submit_tag "Search", class: "btn btn-primary btn-sample btn-search" %>
      <% end %>
    </div>
    <% if @users.any? %>
      <ul class="users-follow">
          <%= render "user" %>
        <%= will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
      </ul>
    <% end %>
  </div>
</div>
