<% provide(:title, "All users") %>
<h1>All users</h1>
<div class="user-index">
  <div class="users-list">
    <%= will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
      <%= render "user" %>
    <%= will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  </div>
  <div class="search-user">
    <%= form_tag users_path, method: :get, class: "form-inline" do %>
      <%= text_field_tag :query, params[:query], placeholder: "Find a user"%>
      <%= submit_tag "Search", class: "btn btn-primary btn-sample" %>
    <% end %>
  </div>
</div>
