<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <div class="user-info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </div>
  </aside>
  <% if @user.microposts.any? %>
    <div class="user-microposts">
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate(@microposts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
    </div>
  <% end %>
</div>
