<div class="photo-and-name">
  <%= link_to user_path(current_user) do %>
    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, class: "avatar-large" %>
    <% else %>
      <%= image_tag "user.png", class: "avatar-large" %>
    <% end %>
  <% end %>
  <h1><%= current_user.name %></h1>
</div>
<div class="profile-and-posts">
  <span><%= link_to "View my profile", user_path(current_user) %></span>
  <span><%= pluralize(current_user.microposts.count, "micropost") %></span>
</div>
